/*barra de navegação*/

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 20px 0 20px;
}

#foto-logo {
    margin-left: -36px;
    position: absolute;
    font-size: 16px;
    font-weight: 300px;
    top: 8px;
    background-color: white;
    padding: 0px 1px;
    object-fit: cover;
}

.input-pag-um {
    margin: 15px 0 15px 300px;
    border-radius: 4px;
}

.button-pag-um {
    border-radius: 4px;
}

button:hover {
    background-color: green;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/*texto da pagina*/

.texto-ofertas {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}


/*final pagina*/

footer {
    background-color: rgb(178, 187, 187);
}

.texto-rodape {
    text-align: center;
    padding: 1px;
}


/*fotos da pagina*/

.foto-coluna4 {
    margin: 25px;
    height: 25%;
}

.foto-coluna4:hover {
    border-radius: 5px;
    transition: all .2s;
    transform: scale(1.4);
}


/*formulario*/

.container {
    padding: 10px;
    margin-right: 1000px;
    background-color: rgb(214, 216, 214);
    border-radius: 20px;
}

.ainda-nao-tenho-cadastro {
    padding: 10px 40px;
}

.registration-box {
    position: absolute;
    font-size: 16px;
    font-weight: 300px;
    top: -6px;
    background-color: white;
    padding: 0 3px;
}

label {
    display: block;
    color: black;
    font-size: 20px;
}

input {
    margin-bottom: 20px;
    border: black;
}

.social-network {
    display: inline;
}

.sexo-box {
    display: inline;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

.photo-profile {
    display: block;
    font-size: 13px;
}

.tel-box {
    display: block;
}

.link-box {
    display: block;
}

.password-box {
    display: block;
}

button {
    cursor: pointer;
}

.reset-box:hover {
    background-color: rgb(179, 180, 179);
    width: 50px;
    height: 40px;
    color: black;
    border-radius: 5px;
}

.submit-box:hover {
    background-color: rgb(179, 180, 179);
    width: 80px;
    height: 40px;
    color: black;
    border-radius: 5px;
}

.ja-sou-cadastrado {
    margin-left: 500px;
    position: absolute;
    background-color: rgb(214, 216, 214);
    padding: 10px 20px;
    margin-top: -740px;
    border-radius: 20px;
}

.texto-ja-sou-cadastrado {
    margin-left: 500px;
    position: absolute;
    padding: 10px 20px;
    margin-top: -785px;
    display: block;
    color: black;
    font-size: 20px;
}


/*flip*/

#panel,
#flip {
    padding: 5px;
    text-align: center;
    border: solid 1px rgb(42, 40, 61);
    cursor: pointer;
    font-size: 20px;
    color: rgb(197, 14, 30);
}

#panel {
    padding: 10px;
    display: none;
}


/* carrossel*/

* {
    box-sizing: border-box
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.imagem-principal {
    width: 1333px;
    height: 500px;
    object-fit: cover;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(93, 253, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ec0808;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}